* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  background: #ffffff;
  color: #111;
  line-height: 1.6;
}

.site-header {
  text-align: center;
  padding: 2rem;
}

.logo {
  color: #A52A2A;
  font-weight: bold;
  letter-spacing: 2px;
}

h1 {
  font-family: 'Playfair Display', serif;
  font-size: 2.8rem;
  margin-top: 0.5rem;
}

nav ul {
  display: flex;
   flex-wrap: wrap;
  justify-content: space-around;
  gap: 2rem;
  list-style: none;
  margin-top: 1rem;
}

nav a {
  text-decoration: none;
  color:  #111;
  font-weight: 600;
  transition: color 0.3s ease;
}

a {
  color: #007BFF; /* Change to any color (e.g., red, blue, hex code) */
  text-decoration: none; /* Optional: remove underline */
}

nav a:hover {
  color: #007BFF;
}

.hero img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 2rem auto;
}

section {
  padding: 2rem;
  max-width: 800px;
  margin: auto;
}

h2 {
  font-family: 'Playfair Display', serif;
  font-size: 1.8rem;
  border-bottom: 2px solid #111;
  margin-bottom: 1rem;
}

footer {
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;
}
.spacer{
  display: block;
  height: 1.5em; /* or try 50px, 5vh, etc. */
  line-height: 1;
  visibility: hidden; 
}
.special-item {
  color: #A52A2A;
  font-weight: bolder;
}

.center-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 75%;
  height: auto;
}
